<section class="content-header"></section>

<section class="content">
  <section class="invoice">
    <form [formGroup]="orderForm" novalidate>
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
          </h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-9">
          <p class="lead">Seus dados:</p>
        </div>
        <div class="col-xs-12 col-sm-3">
          <span class="help-block pull-right has-error-block" *ngIf="orderForm.hasError('emailsNotMatch')"
            ><i class="fa fa-remove"></i> E-mails não conferem!
          </span>
        </div>
        <div class="col-sm-4 col-xs-12">
          <mt-input-container [errorMessage]="errorMessage" label="Nome">
            <input
              type="text"
              class="form-control"
              formControlName="name"
              autocomplete="off"
              placeholder="nome"
            />
          </mt-input-container>
        </div>
        <div class="col-sm-4 col-xs-6">
          <mt-input-container [errorMessage]="errorMessage" label="Email">
            <input
              type="text"
              class="form-control"
              formControlName="email"
              autocomplete="off"
              placeholder="e-mail"
            />
          </mt-input-container>
        </div>
        <div class="col-sm-4 col-xs-6">
          <mt-input-container
            [errorMessage]="errorMessage"
            label="Confirmação do e-mail"
          >
            <input
              type="text"
              class="form-control"
              formControlName="emailConfirmation"
              autocomplete="off"
              placeholder="confirme seu e-mail"
            />
          </mt-input-container>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Endereço de Entrega:</p>
        </div>
        <div class="col-sm-4 col-xs-12">
          <mt-input-container
            [errorMessage]="errorMessageAddress"
            label="Endereço"
          >
            <input
              type="text"
              class="form-control"
              formControlName="address"
              autocomplete="off"
              placeholder="endereço"
            />
          </mt-input-container>
        </div>
        <div class="col-sm-4 col-xs-6">
          <mt-input-container
            [errorMessage]="errorMessageNumber"
            label="Número"
          >
            <input
              type="text"
              class="form-control"
              formControlName="number"
              autocomplete="off"
              placeholder="número"
            />
          </mt-input-container>
        </div>
        <div class="col-sm-4 col-xs-6">
          <mt-input-container>
            <input
              type="text"
              class="form-control"
              formControlName="optionalAddress"
              placeholder="complemento"
              autocomplete="off"
            />
          </mt-input-container>
        </div>
      </div>

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Itens do Pedido:</p>
        </div>
        <mt-order-items
          [items]="getCartItems()"
          (increaseQty)="increaseQty($event)"
          (decreaseQty)="decreaseQty($event)"
          (remove)="removeItem($event)"
        >
        </mt-order-items>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <!-- accepted payments column -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Formas de Pagamento:</p>

          <div class="form-group">
            <mt-radio
              [options]="paymentOptions"
              formControlName="paymentOption"
            ></mt-radio>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Frete e Total:</p>
          <mt-delivery-costs
            [delivery]="delivery"
            [itemsValue]="totalItemsValue()"
          ></mt-delivery-costs>
        </div>

        <!-- /.col -->
      </div>
    </form>

    <div class="row">
      <div class="col-xs-12">
        <button
          href="order-summary.html"
          class="btn btn-success pull-right"
          [disabled]="!orderForm.valid || getCartItems().length === 0"
          (click)="checkOrder(orderForm.value)"
        >
          <i class="fa fa-credit-card"></i> Concluir Pedido
        </button>
      </div>
    </div>
  </section>
</section>
